@charset "UTF-8"; 
body{
    background-color: #fbf9cc; 
}
h1{
    font-size: 1.75em;
    color:#3399cc;
}
h2{
    font-size: 1.25em;
    color:#ffffff;
}
p{
    font-size: 0.8em;
     color:#333333;
}
li{
    font-size: 0.8em;
    background-color: #3399cc; 
    color:#333333;
}
